doctype html
html

  include includes/head.pug

  body(ng-app="cati", ng-controller="MainController as main")

    include ./includes/header.pug

    //- PAGE WRAP
    #wrapper

      //- GAME PANEL
      #main
        .container

          //- ALERTS
          div(
            uib-alert
            ng-repeat="alert in alerts",
            ng-class="'alert-' + (alert.type || 'warning')",
            close="closeAlert($index)"
          ) {{alert.msg}}
          
          //- INIT
          include ./includes/init.pug

          //- GAME LOBBY
          include ./includes/lobby.pug
          
          //- GAME BOARD
          include ./includes/game.pug

      //- INFO PANEL
      #info(
        resizable
        r-directions="['top']"
        r-flex="true"
      )
        .container
          //- include ./includes/infoPanel.pug
