header#site-header
  nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
    .container-fluid
      .navbar-header
        .navbar-brand(title="Cards Against Idiots")
          i.fa.fa-meh-o
          |  C.A.I.
      .navbar-right
        ul.nav.navbar-nav
          li
            a.leave-game(
              ng-show="main.inGame"
              ng-click="main.leaveGame()"
            ) Leave Game
          li.volume
            .volume-slider
              rzslider(
                rz-slider-model="main.volume.value"
                rz-slider-options="main.volume.options"
              )
            a.toggle-mute(
              ng-click="main.toggleMute()"
              ng-class="{muted: !main.volume.value, low: (main.volume.value < 50)}"
            )