#init(ng-hide="main.initialized")
  .container
    form.init-form.form-inline(name="main.user")
      h2 Greetings, Idiot!
      .form-group
        input.form-control.input-lg(
          type="text"
          required
          maxlength="30"
          placeholder="Choose a nickname"
          ng-model="main.user.name"
          ng-maxlength="30"
        )
      button.btn.btn-lg.btn-success(
        ng-click="main.init()"
        ng-disabled="main.user.$invalid"
      ) Go!
