#lobby(
  ng-controller="LobbyController as lobby"
  ng-show="main.initialized && !main.inGame"
)
  .container
    h2 Game Lobby
    .no-games(ng-hide="lobby.games.length")
      p.lead There are currently no games
      button.btn.btn-lg.btn-success(
        type="button"
        ng-click="lobby.createGame()"
      ) Create Game
    table#games-table.table(ng-show="lobby.games.length")
      thead
        tr
          th.game Game
          th.players Players
          th.refresh
            a(ng-click="lobby.refreshGamesList()")
              i.fa.fa-refresh
      tbody
        tr.game(ng-repeat="game in lobby.games")
          td.game {{ game.name }}
          td.players {{ game.playerCount }} / {{ game.playerLimit }}
          td.join
            button.btn.btn-sm.btn-primary(
              type="button"
              ng-click="lobby.joinGame(game.id)"
              ng-disabled="game.playerCount >= game.playerLimit"
            ) Join
        tr
          td
            button.btn.btn-sm.btn-success(
              type="button"
              ng-click="lobby.createGame()"
            )
              i.fa.fa-plus-circle
              |  Create Game
          td
          td
