#hand
  .cards
    .card-slot(
      ng-repeat="card in game.hand"
      ng-class="card.disabled ? 'disabled' : ''"
    )
      .card.card-white(
        ng-drag='true'
        ng-drag-data='card'
        ng-drag-success='onDragCard(card)'
      ) {{ card.text }}