#play-area
  .prompt
    .card.card-large.card-black {{ game.round.prompt.text }}
  .play-slots(ng-show="!game.czar")
    .play-slot(
      ng-repeat="slot in game.playSlots"
      ng-class="slot.card ? 'filled' : 'empty'"
      ng-drop='true'
      ng-drop-success='game.placeCard(slot,$data)'
    ) {{ slot.card.text }}
    .play-controls
      button.btn.btn-default(
        ng-click="game.clearCards()"
      ) Clear
      button.btn.btn-primary(
        ng-click="game.submitAnswer()"
      ) Submit
  .czar-message(ng-show="game.czar")
    p
      i.fa.fa-lg.fa-star
      |  You're the Card Czar. You'll have to wait for the rest of these assholes to submit their cards. For your patience you will be rewarded with a chance to judge your peers.