#play-area

  //- PROMPT
  .prompt
    .card.card-large.card-black
      span(ng-show="game.isActive()") {{ game.round.prompt.text }}

  //- PLAY SLOTS
  .play-slots(ng-show="game.isOpen() && !game.czar")
    .play-slot(
      ng-repeat="slot in game.playSlots"
      ng-class="slot.card ? 'filled' : 'empty'"
      ng-drop='true'
      ng-drop-success='game.placeCard(slot,$data)'
    ) {{ slot.card.text }}
    .play-controls(ng-show="game.isOpen() && !game.answered")
      button.btn.btn-default(
        ng-click="game.clearCards()"
        ng-disabled="game.playSlotsEmpty()"
      ) Clear
      button.btn.btn-primary(
        ng-click="game.submitAnswer()"
        ng-disabled="!game.playSlotsFilled()"
      ) Submit
    p.answered(ng-show="game.answered")
      i.fa.fa-lg.fa-check
      |  Waiting for other players

  //- ANSWERS
  .answers(ng-show="game.isClosed()")
    .answers-viewport
      .answers-wrap(ng-style="game.getAnswersWidth()")
        .answer-slot(ng-repeat="answer in game.round.answers")
          .card.card-white(ng-repeat="card in answer.cards") {{ card.text }}
          .czar-controls(ng-show="game.czar")
            button.btn.btn-primary(ng-click="game.pickWinner(answer)") Pick Winner

  //- MESSAGES
  p.waiting-message(ng-show="!game.isActive()")
    i.fa.fa-lg.fa-clock-o
    |  Waiting for at least three players.
  p.czar-message(ng-show="game.isOpen() && game.czar")
    i.fa.fa-lg.fa-star
    |  You're the Card Czar. You'll have to wait for the rest of these assholes to submit their cards. For your patience you will be rewarded with a chance to judge your peers.

  //- TIMERS
  .timer
    .timer-wrap(ng-show="game.roundTimerCurrent")
      round-progress.round-timer(
        current="game.roundTimerCurrent"
        max="game.roundTimerMax"
        color="rgba(10,10,10,.35)"
        bgcolor="rgba(10,10,10,.15)"
        radius="30"
        stroke="30"
        clockwise="false"
        duration="50"
        animation-delay="0")
      .display-text(ng-class="{'hurry': game.roundTimerCurrent < 11000}")
        | {{ game.roundTimerText }}
    .timer-wrap(ng-show="game.czarTimerCurrent")
      round-progress.czar-timer(
        current="game.czarTimerCurrent"
        max="game.czarTimerMax"
        color="rgba(10,10,10,.35)"
        bgcolor="rgba(10,10,10,.15)"
        radius="30"
        stroke="30"
        clockwise="false"
        duration="50"
        animation-delay="0")
      .display-text(ng-class="{'hurry': game.czarTimerCurrent < 11000}")
        | {{ game.czarTimerText }}
        span (czar)

  //- WINNER
  .winner(ng-show="game.winner.show" ng-click="game.dismissWinner()")
    h2(ng-class="{'won-game': game.winner.wonGame}")
      span.name {{ game.winner.name }}
      span(ng-hide="game.winner.wonGame")  wins the round!
      span(ng-show="game.winner.wonGame")  wins the game!
    .winner-cards
      .card.card-large.card-black
        | {{ game.winner.prompt }}
      .card.card-large.card-white(ng-repeat="card in game.winner.cards")
        | {{ card.text }}
    .btn.btn-primary(ng-click="game.dismissWinner()") OK
